body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('components/images/girlbg.png'); */
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.each-head {
  color: #124076;
  font-size: 56.56px;
  font-family: Inknut Antiqua;
  font-weight: 700;
  word-wrap: break-word
}

.each-head2 {
  color: #487D49;
  font-family: "Inknut Antiqua";
  font-size: 56.561px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.image-container {
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}


section {
  height: 100vh;
  overflow: hidden;

}

.navcont {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: black !important;
}

.navpaths:hover {
  color: black !important;
  border-bottom: 2px solid black !important;
}

.navpaths {

  color: rgb(96, 96, 96) !important;
  font-size: 17px !important;
}

.heading1 {
  position: absolute;
  width: 100vb;
  top: 65% !important;
  left: 20% !important;
  transform: translate(-50%, -50%);
  color: white;
}

.overlap-group {
  position: relative;

}

.wave-left1 {
  position: absolute;
  height: 500px;
  width: auto;

}

.wave-left2 {
  position: absolute;
  height: 536px;
  width: auto;
  top: 160px;
  right: 0px;
}

footer {
  background-color: #124076;
  color: white;
  font-size: 22px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.footer-nav {
  list-style-type: none;
  /* float: right; */
}

.social-links {
  list-style-type: none;
}


.social-links li {

  display: inline-block;
  margin-right: 20px;
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: underline;
  text-decoration-color: #FFC374;
  border: 0;
  color: white;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 100%;
}

.footer-nav li a:hover,
.social-links li a:hover {
  color: #ddd;
  text-decoration: none;
}


.fb:hover {
  color: #3b5998;
}

.gl:hover {
  color: #dd4b39;
}

.tw:hover {
  color: #00aced;
}

.ig:hover {
  color: rgb(207, 28, 183);
}

.modal-90w {
  max-width: 70vw !important;
}

.custom-modal-body {
  display: flex;
  flex-direction: column;
}

.blue-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #124076;
  flex: 1;
  padding: 20px;
  color: white;
  font-size: large;
  border-radius: 10px;
}



.form-section {
  flex: 1;
  padding: 20px;
}